@font-face {
  font-family: 'league_spartanregular';
  src: url("../fonts/leaguespartan-bold-webfont.eot");
  src: url("../fonts/leaguespartan-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguespartan-bold-webfont.woff2") format("woff2"), url("../fonts/leaguespartan-bold-webfont.woff") format("woff"), url("../fonts/leaguespartan-bold-webfont.ttf") format("truetype"), url("../fonts/leaguespartan-bold-webfont.svg#league_spartanregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.blog .controls .prev, .blog .controls .next {
  width: auto; }

.blog .item {
  padding-bottom: 40px; }
  .blog .item .title {
    text-align: left; }
  .blog .item span {
    font-size: em(13);
    color: #868686; }
  .blog .item .title, .blog .item .info {
    padding: 0 em(10); }
  .blog .item .info {
    padding-bottom: 10px; }
    .blog .item .info span.date:after {
      content: '|';
      padding: 0 em(5); }
  .blog .item .text {
    padding: 10px em(10);
    font-size: em(13);
    line-height: 150%; }
    .blog .item .text a {
      text-decoration: none;
      color: #3CD52E; }

@media screen and (min-width: 868px) {
  .blog.detail .wrapper-blog-interna {
    width: 80%;
    margin: 0 auto; } }

@media screen and (min-width: 868px) {
  .blog.detail .prev {
    float: left !important; } }

@media screen and (min-width: 868px) {
  .blog.detail .next {
    float: right !important; } }

@media screen and (min-width: 868px) {
  .blog.detail .controls {
    border-top: 1px solid rgba(128, 128, 128, 0.4) !important;
    padding: 30px 0;
    margin-bottom: 80px; } }

.blog.detail .item {
  padding-bottom: 0; }
  @media screen and (min-width: 868px) {
    .blog.detail .item {
      padding-top: 40px; } }
  @media screen and (min-width: 868px) {
    .blog.detail .item .image {
      margin: 30px 0; } }
  @media screen and (min-width: 868px) {
    .blog.detail .item .title {
      font-size: em(32);
      padding: 0;
      margin-bottom: 0; } }
  @media screen and (min-width: 868px) {
    .blog.detail .item .info, .blog.detail .item .text {
      padding: 10px 0;
      margin: 0 auto;
      width: 80%;
      font-size: em(18); } }
  .blog.detail .item .info {
    margin: 0; }

.blog .image img {
  width: 100%; }

.blog .see-more-black {
  padding: 0 em(10);
  font-weight: 800; }

.blog .social {
  margin: 20px 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (min-width: 868px) {
    .blog .social {
      display: inline-block;
      width: 50%;
      float: right;
      padding-top: 30px; } }
  .blog .social span {
    display: inline-block;
    width: 100%;
    color: #010101;
    font-weight: bold; }
  .blog .social span.hide-small {
    display: none; }
    @media screen and (min-width: 868px) {
      .blog .social span.hide-small {
        display: block; } }
  .blog .social li {
    -webkit-flex: auto;
        -ms-flex: auto;
            flex: auto;
    text-align: center;
    padding: 10px 0;
    margin: 0 10px;
    transition: all 0.5s;
    cursor: pointer;
    font-size: em(22); }
    @media screen and (min-width: 868px) {
      .blog .social li {
        float: left;
        width: 46%;
        margin: 0;
        margin-top: 10px; } }
    .blog .social li:first-child {
      margin-right: 0; }
    .blog .social li.twitter {
      margin-left: 5px; }
      @media screen and (min-width: 868px) {
        .blog .social li.twitter {
          margin-left: 15px; } }
    .blog .social li a {
      color: white;
      text-decoration: none; }
  .blog .social .facebook {
    background-color: #3B5999; }
    .blog .social .facebook:hover {
      background-color: rgba(59, 89, 153, 0.85); }
  .blog .social .twitter {
    background-color: #5FA9DD; }
    .blog .social .twitter:hover {
      background-color: rgba(95, 169, 221, 0.85); }

.blog .profile {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px em(10); }
  @media screen and (min-width: 868px) {
    .blog .profile {
      padding-top: 40px; } }
  .blog .profile .image, .blog .profile .info {
    -webkit-flex: auto;
        -ms-flex: auto;
            flex: auto; }
  .blog .profile .image {
    width: 30%; }
    @media screen and (min-width: 868px) {
      .blog .profile .image {
        margin-top: 10px !important;
        width: 15%; } }
    .blog .profile .image img {
      border-radius: 100%; }
  .blog .profile .info {
    width: 70%;
    font-size: em(13);
    padding: 10px em(30); }
    @media screen and (min-width: 868px) {
      .blog .profile .info {
        padding: 0 1.875em !important;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-flex: auto;
            -ms-flex: auto;
                flex: auto;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    .blog .profile .info .name, .blog .profile .info .link-twitter {
      color: #010101;
      text-decoration: none;
      font-weight: 800;
      margin-bottom: 7px;
      padding: 0;
      display: inline-block;
      width: 100%; }
      @media screen and (min-width: 868px) {
        .blog .profile .info .name, .blog .profile .info .link-twitter {
          font-size: em(14); } }
    .blog .profile .info .possition, .blog .profile .info .company {
      margin: 0;
      margin-bottom: 7px; }
      @media screen and (min-width: 868px) {
        .blog .profile .info .possition, .blog .profile .info .company {
          font-size: em(14); } }
    .blog .profile .info .link-twitter {
      transition: all 0.5s; }
      .blog .profile .info .link-twitter:hover {
        color: #3CD52E; }

.blog .controls {
  margin: 20px 0;
  border-top: 1px solid rgba(128, 128, 128, 0.4);
  padding-bottom: 30px; }
  .blog .controls .next {
    float: right;
    text-align: right;
    left: -10px; }

.controls {
  padding: 10px em(10);
  position: relative; }
  @media screen and (min-width: 868px) {
    .controls {
      border-top: 0 !important;
      text-align: center;
      padding: 40px 0; } }
  .controls .prev, .controls .next, .controls .numbers {
    display: inline-block;
    color: #010101;
    font-size: em(12); }
    @media screen and (min-width: 868px) {
      .controls .prev, .controls .next, .controls .numbers {
        font-size: em(20);
        font-weight: 800; } }
  .controls .numbers {
    width: 59%;
    text-align: center; }
    @media screen and (min-width: 868px) {
      .controls .numbers {
        width: auto; } }
    .controls .numbers li {
      display: inline-block; }
      .controls .numbers li a {
        text-decoration: none;
        color: #010101;
        padding: 0 em(10);
        transition: all 0.5s; }
        .controls .numbers li a:hover {
          color: #3CD52E; }
  .controls .prev, .controls .next {
    width: 19%;
    text-decoration: none;
    position: relative;
    transition: all 0.5s;
    text-transform: uppercase; }
    @media screen and (min-width: 868px) {
      .controls .prev, .controls .next {
        width: auto;
        float: none !important;
        padding: 0 em(20); }
        .controls .prev:after, .controls .prev:before, .controls .next:after, .controls .next:before {
          margin-top: 4px; } }
    .controls .prev:hover, .controls .next:hover {
      opacity: .4; }
  .controls .next {
    text-align: center;
    position: relative;
    left: 10px; }
    .controls .next:after {
      content: '';
      background-image: url("../images/misc/see-more-icon-black.svg");
      width: 10px;
      height: 9px;
      background-size: cover;
      float: left;
      position: absolute;
      top: 2px;
      margin-left: em(10); }
  .controls .prev:before {
    content: '';
    background-image: url("../images/misc/see-more-icon-black.svg");
    width: 10px;
    height: 9px;
    background-size: cover;
    float: left;
    position: relative;
    top: 2px;
    margin-right: em(10);
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }

@media screen and (min-width: 868px) {
  .blog-front .next {
    text-align: right; }
  .blog-front .box-items {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .blog-front .box-items .item {
      width: 33%;
      -webkit-flex: auto;
          -ms-flex: auto;
              flex: auto;
      padding: 0 em(10);
      margin-bottom: 30px; }
      .blog-front .box-items .item .info, .blog-front .box-items .item .text, .blog-front .box-items .item .see-more-black, .blog-front .box-items .item .title {
        padding-right: 0;
        padding-left: 0; }
      .blog-front .box-items .item .text {
        font-size: em(16);
        padding-bottom: 30px; }
      .blog-front .box-items .item .title {
        font-size: em(22); }
      .blog-front .box-items .item .see-more-black {
        font-size: em(16); }
      .blog-front .box-items .item:first-child {
        display: inline-block;
        width: 100%;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 20px 0;
        padding-top: 40px;
        padding-bottom: 30px; }
        .blog-front .box-items .item:first-child .title {
          margin-top: 0;
          font-size: em(32);
          padding: 0; }
        .blog-front .box-items .item:first-child .text {
          font-size: em(20); }
        .blog-front .box-items .item:first-child .image {
          width: 50%;
          float: left; }
        .blog-front .box-items .item:first-child .content {
          float: left;
          width: 50%;
          padding: 0 em(20); } }
