@font-face {
  font-family: 'league_spartanregular';
  src: url("../fonts/leaguespartan-bold-webfont.eot");
  src: url("../fonts/leaguespartan-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguespartan-bold-webfont.woff2") format("woff2"), url("../fonts/leaguespartan-bold-webfont.woff") format("woff"), url("../fonts/leaguespartan-bold-webfont.ttf") format("truetype"), url("../fonts/leaguespartan-bold-webfont.svg#league_spartanregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.form-close {
  width: 21px;
  height: 21px;
  z-index: 99999;
  background-image: url("../images/misc/close-icon.svg");
  background-size: 100%;
  position: absolute;
  top: 15px;
  float: left;
  right: 15px;
  cursor: pointer;
  transition: all 0.5s; }
  @media screen and (min-width: 868px) {
    .form-close {
      width: 31px;
      height: 31px;
      top: 30px;
      right: 30px; } }
  .form-close:hover {
    opacity: .4; }

.form-error {
  font-size: em(13);
  padding: 10px 0;
  display: inline-block; }
  @media screen and (min-width: 868px) {
    .form-error {
      font-size: em(18); } }
  .form-error:before {
    content: "";
    background-image: url("../images/misc/error-icon.svg");
    width: 15px;
    height: 13px;
    background-size: cover;
    float: left;
    margin-right: em(5); }
    @media screen and (min-width: 868px) {
      .form-error:before {
        width: 17px;
        height: 15px;
        position: relative;
        top: 1px; } }

.contact {
  display: none; }

.project.form {
  padding-bottom: 40px;
  position: relative; }

.box-type {
  padding-top: 10px; }

.box-labels {
  margin-top: 20px; }

.form {
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  padding: 80px em(20); }
  @media screen and (min-width: 868px) {
    .form form {
      width: 60%;
      margin: 0 auto; }
    .form .wrapp-center {
      padding: 40px 0;
      background-color: white;
      width: 100%; } }
  .form .box-label {
    width: 50%;
    float: left;
    padding: 5px em(4); }
    @media screen and (min-width: 868px) {
      .form .box-label {
        box-sizing: border-box;
        width: 33.3333%; } }
    .form .box-label:nth-child(odd) {
      padding-left: 0; }
      @media screen and (min-width: 868px) {
        .form .box-label:nth-child(odd) {
          padding: 5px em(4); } }
    .form .box-label:nth-child(even) {
      padding-right: 0; }
      @media screen and (min-width: 868px) {
        .form .box-label:nth-child(even) {
          padding: 5px em(4); } }
  .form .more-services {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    text-decoration: none;
    height: 145px;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-transform: uppercase;
    text-align: left;
    font-size: em(12);
    padding: 0 em(50);
    color: #010101;
    transition: all 0.3s;
    position: relative; }
    @media screen and (min-width: 868px) {
      .form .more-services {
        font-size: em(16);
        width: 33.33333%;
        margin-top: 32%; } }
    .form .more-services:hover {
      opacity: .4; }
    .form .more-services span:after {
      content: "";
      background-image: url(../images/misc/see-more-icon-black.svg);
      background-repeat: no-repeat;
      width: 11px;
      height: 9px;
      background-size: 100%;
      display: inline-block;
      position: relative;
      left: 10px; }
  .form .check {
    box-sizing: border-box;
    text-align: center;
    padding: 30px 0;
    background-color: rgba(163, 163, 163, 0.2);
    cursor: pointer;
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 145px;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media screen and (min-width: 1200px) {
      .form .check {
        height: 150px; } }
    @media screen and (min-width: 1400px) {
      .form .check {
        height: 250px; } }
    .form .check.active {
      background: #3CD52E; }
      .form .check.active span {
        color: white; }
      .form .check.active .web {
        background-image: url("../images/fpo/service-webapp-hover.svg"); }
      .form .check.active .ecommerce {
        background-image: url("../images/fpo/service-ecommerce-hover.svg"); }
      .form .check.active .mobile {
        background-image: url("../images/fpo/service-mobile-hover.svg"); }
      .form .check.active .mvp {
        background-image: url("../images/fpo/service-mvp-hover.svg"); }
      .form .check.active .product {
        background-image: url("../images/fpo/service-product-hover.svg"); }
    .form .check span {
      display: inline-block;
      width: 100%;
      padding: 10px 0; }
    .form .check input {
      cursor: pointer;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 100%;
      border: none;
      opacity: 0; }
    .form .check .icon {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      margin: 0 auto; }
    .form .check .web {
      width: 60px;
      height: 46px;
      background-image: url("../images/fpo/service-webapp.svg"); }
    .form .check .ecommerce {
      width: 60px;
      height: 46px;
      background-image: url("../images/fpo/service-ecommerce.svg"); }
    .form .check .mobile {
      width: 37px;
      height: 67px;
      background-image: url("../images/fpo/service-mobile.svg"); }
    .form .check .mvp {
      width: 75px;
      height: 40px;
      background-image: url("../images/fpo/service-mvp.svg"); }
    .form .check .product {
      width: 75px;
      height: 40px;
      background-image: url("../images/fpo/service-product.svg"); }
  .form .text {
    font-family: "league_spartanregular";
    font-size: em(16);
    line-height: 1.4; }
    @media screen and (min-width: 868px) {
      .form .text {
        font-size: em(32);
        padding: 40px 0; } }
    .form .text a {
      color: #3CD52E;
      text-decoration: none;
      transition: all 0.3s; }
      .form .text a:hover {
        text-decoration: underline; }
  .form form {
    padding-top: 20px; }
  .form label, .form .type-title {
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    font-weight: 100;
    font-size: em(12);
    padding: 5px 0;
    font-weight: 800; }
    @media screen and (min-width: 868px) {
      .form label, .form .type-title {
        font-size: em(19); } }
  .form fieldset {
    padding: 15px 0;
    width: 100%; }
    @media screen and (min-width: 868px) {
      .form fieldset {
        padding: 30px 0; } }
  .form .info, .form .type-text {
    font-size: em(13); }
  .form input, .form textarea {
    width: 100%;
    display: inline-block;
    border: none;
    padding: 10px;
    border-bottom: 1px solid #A3A3A3;
    font-family: "proxima-nova"; }
    @media screen and (min-width: 868px) {
      .form input, .form textarea {
        font-size: em(18); } }
  .form .button {
    padding-left: em(15);
    padding-right: em(15);
    margin-top: 10px; }

.header-form {
  position: absolute;
  top: 15px;
  left: 30px; }
  .header-form .image {
    display: inline-block; }
    .header-form .image img {
      width: 140%; }
  .header-form span {
    color: #3CD52E;
    font-weight: 800;
    font-size: em(21);
    position: relative;
    bottom: 33px;
    left: 30px; }
