@font-face {
  font-family: 'league_spartanregular';
  src: url("../fonts/leaguespartan-bold-webfont.eot");
  src: url("../fonts/leaguespartan-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguespartan-bold-webfont.woff2") format("woff2"), url("../fonts/leaguespartan-bold-webfont.woff") format("woff"), url("../fonts/leaguespartan-bold-webfont.ttf") format("truetype"), url("../fonts/leaguespartan-bold-webfont.svg#league_spartanregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.talk {
  padding-bottom: 45px;
  display: inline-block;
  width: 100%;
  text-align: center; }
  @media screen and (min-width: 868px) {
    .talk {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding-bottom: 0; }
      .talk .image {
        -webkit-flex: auto;
            -ms-flex: auto;
                flex: auto;
        width: 55%; }
      .talk .image {
        background-image: url("../images/fpo/contact.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; }
      .talk .content {
        text-align: left;
        padding-left: 40px;
        padding-top: 10px;
        width: 45%; }
        .talk .content .subtitle {
          text-align: left; }
      .talk .item {
        display: inline-block;
        vertical-align: top;
        padding-top: 0; }
        .talk .item:first-child {
          padding-right: em(10);
          padding-left: em(0); }
        .talk .item .info {
          padding-bottom: 20px; } }
  @media screen and (min-width: 992px) {
    .talk .content {
      padding-top: 50px;
      padding-bottom: 50px; }
    .talk .item {
      padding: 0; }
      .talk .item:first-child {
        padding-right: em(60);
        padding-left: em(30); }
      .talk .item .info {
        padding-bottom: 20px; } }
  .talk .subtitle {
    font-weight: 800; }
  .talk .info {
    font-size: em(14); }
  .talk .mail {
    color: #010101; }

footer {
  background-color: #1E1E1E;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 40px 0; }
  @media screen and (min-width: 868px) {
    footer {
      padding: 60px 0; } }
  footer .content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%; }
    @media screen and (min-width: 868px) {
      footer .content {
        width: 80%; } }
  @media screen and (min-width: 868px) {
    footer .content.medium {
      width: 92%; } }
  footer .social, footer .logo {
    -webkit-flex: auto;
        -ms-flex: auto;
            flex: auto; }
  footer .logo {
    padding: 0 em(20);
    transition: all 0.5s; }
    @media screen and (min-width: 868px) {
      footer .logo img {
        width: 180px; } }
    footer .logo:hover {
      opacity: .4; }
  footer .social {
    text-align: right;
    position: absolute;
    right: 20px;
    top: 15px;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    footer .social li {
      display: inline-block;
      padding: 0 5px; }
      footer .social li a {
        color: white;
        font-size: em(22);
        text-decoration: none;
        transition: all 0.5s; }
        @media screen and (min-width: 868px) {
          footer .social li a {
            font-size: em(30); } }
        footer .social li a:hover {
          opacity: .4; }

.copyright {
  display: inline-block;
  width: 100%;
  color: white;
  background-color: #1E1E1E;
  text-align: center;
  position: relative;
  padding: 30px 0 20px 0;
  font-size: em(10); }
  @media screen and (min-width: 868px) {
    .copyright {
      padding: 40px 0; } }
  @media screen and (min-width: 868px) {
    .copyright span {
      text-align: left;
      width: 100%;
      display: inline-block;
      font-size: em(16); } }
  .copyright:before {
    content: "";
    width: 90%;
    height: 1px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    top: 0;
    left: 5%; }
