@font-face {
  font-family: 'league_spartanregular';
  src: url("../fonts/leaguespartan-bold-webfont.eot");
  src: url("../fonts/leaguespartan-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguespartan-bold-webfont.woff2") format("woff2"), url("../fonts/leaguespartan-bold-webfont.woff") format("woff"), url("../fonts/leaguespartan-bold-webfont.ttf") format("truetype"), url("../fonts/leaguespartan-bold-webfont.svg#league_spartanregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.notifications {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #3CD52E;
  text-align: center; }
  .notifications .inner {
    display: inline-block;
    top: 35%;
    position: absolute;
    left: 0;
    width: 100%; }
  .notifications .text {
    font-family: "league_spartanregular";
    color: white;
    line-height: 1.8;
    padding: 20px em(20);
    text-align: center; }
    @media screen and (min-width: 868px) {
      .notifications .text {
        font-size: em(36);
        line-height: 1.4;
        padding: 20px em(80); } }
  .notifications .close-notifications {
    float: right;
    padding: 20px;
    transition: all 0.5s; }
    .notifications .close-notifications:hover {
      opacity: .4; }
  .notifications .image {
    width: 100%;
    display: inline-block;
    text-align: center; }
    .notifications .image img {
      width: 160px; }
      @media screen and (min-width: 868px) {
        .notifications .image img {
          width: 200px; } }
  .notifications .button {
    color: white;
    border-color: white;
    padding: 2px em(20); }
