@font-face {
  font-family: 'league_spartanregular';
  src: url("../fonts/leaguespartan-bold-webfont.eot");
  src: url("../fonts/leaguespartan-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguespartan-bold-webfont.woff2") format("woff2"), url("../fonts/leaguespartan-bold-webfont.woff") format("woff"), url("../fonts/leaguespartan-bold-webfont.ttf") format("truetype"), url("../fonts/leaguespartan-bold-webfont.svg#league_spartanregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.team .title {
  padding: 20px 0; }
  @media screen and (min-width: 868px) {
    .team .title {
      font-size: em(32); } }

.team .more-about-us {
  position: relative;
  bottom: 40px; }

.team .text {
  font-size: em(14);
  padding: 10px em(15);
  text-align: center;
  line-height: 1.3; }
  @media screen and (min-width: 868px) {
    .team .text {
      padding-bottom: 60px;
      font-size: em(21); } }
  @media screen and (min-width: 992px) {
    .team .text {
      padding-bottom: 70px; } }

.team .image-team {
  padding-bottom: 40px; }
  .team .image-team img {
    width: 100%; }

@media screen and (min-width: 868px) {
  .team .box-members {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .team .box-members .item {
      padding: 0 em(20); }
      .team .box-members .item:first-child {
        padding-right: 0; }
      .team .box-members .item:last-child {
        padding-right: 0; } }

.team .item {
  margin-bottom: 20px; }
  .team .item .image {
    margin-bottom: 20px; }
    .team .item .image img {
      width: 100%; }
  .team .item .position, .team .item .name {
    font-size: em(14);
    display: inline-block;
    width: 100%;
    text-align: center; }
    @media screen and (min-width: 868px) {
      .team .item .position, .team .item .name {
        font-size: em(16); } }
  .team .item .position {
    font-weight: 800;
    display: inline-block;
    color: #010101;
    text-decoration: none;
    margin-bottom: 10px;
    transition: all 0.5s; }
    .team .item .position:hover {
      color: #3CD52E; }

.team .social {
  display: inline-block;
  width: 100%;
  text-align: center; }
  .team .social li {
    font-size: em(22);
    padding: 0 em(2);
    display: inline-block; }
    .team .social li a {
      display: inherit;
      text-decoration: none;
      color: #010101;
      transition: all 0.5s; }
      .team .social li a:hover {
        color: #3CD52E; }

.collaborators {
  padding: 0 0 30px 0; }
  .collaborators .title {
    text-transform: capitalize; }
    @media screen and (min-width: 868px) {
      .collaborators .title {
        font-size: em(32);
        padding-bottom: 20px; } }
  .collaborators.medium {
    text-align: center; }
    @media screen and (min-width: 868px) {
      .collaborators.medium {
        padding-top: 40px;
        padding-bottom: 90px; } }
  .collaborators .wrapp-items {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 25px; }
    @media screen and (min-width: 868px) {
      .collaborators .wrapp-items {
        display: inline-block; } }
  .collaborators .item {
    -webkit-flex: auto;
        -ms-flex: auto;
            flex: auto; }
    @media screen and (min-width: 868px) {
      .collaborators .item {
        float: left; } }
    .collaborators .item .image {
      width: 70px;
      margin: 0 auto;
      padding-bottom: 10px; }
      @media screen and (min-width: 868px) {
        .collaborators .item .image {
          width: 100px; } }
      .collaborators .item .image img {
        width: 100%;
        border-radius: 100%; }
    .collaborators .item .name, .collaborators .item .position {
      width: 100%;
      display: inline-block;
      text-align: center;
      font-size: em(13);
      margin-bottom: 5px; }
      @media screen and (min-width: 868px) {
        .collaborators .item .name, .collaborators .item .position {
          font-size: em(16); } }
    .collaborators .item .position {
      font-weight: 800;
      display: inline-block;
      color: #010101;
      text-decoration: none;
      margin-bottom: 10px;
      transition: all 0.5s; }
      .collaborators .item .position:hover {
        color: #3CD52E; }

.wrapp-services {
  background-color: #FAFAFA;
  padding: 40px 0; }

.services {
  text-align: center;
  background-color: #FAFAFA; }
  @media screen and (min-width: 868px) {
    .services ul {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .services .bx-wrapper .bx-viewport, .services .bx-pager {
    background-color: #FAFAFA; }
  .services .image {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 15px 0; }
    @media screen and (min-width: 868px) {
      .services .image {
        height: 100px;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
        .services .image img {
          vertical-align: bottom; } }
    .services .image img {
      margin: 0 auto; }
  .services .name {
    font-size: em(15);
    padding: 10px 0;
    font-weight: 800;
    text-transform: uppercase; }
    @media screen and (min-width: 868px) {
      .services .name {
        font-size: em(19); } }
  .services .text {
    font-size: em(14);
    padding: 0 em(20);
    margin-bottom: 5px;
    line-height: 1.3; }
  @media screen and (min-width: 868px) {
    .services .title {
      font-size: em(32);
      padding-bottom: 60px; } }
  .services .bx-controls-direction {
    display: none; }
  @media screen and (min-width: 868px) {
    .services li {
      width: 33%;
      float: left;
      padding-bottom: 20px; } }
  @media screen and (min-width: 992px) {
    .services li {
      padding: 0 em(50); } }

.wrapp-technology {
  padding-top: 30px; }
  @media screen and (min-width: 868px) {
    .wrapp-technology {
      padding-top: 60px; } }

.technology .wrapp-items {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-top: 30px; }
  @media screen and (min-width: 868px) {
    .technology .wrapp-items {
      padding: 60px 0; } }

@media screen and (min-width: 868px) {
  .technology .title {
    font-size: em(32); } }

.technology .item {
  width: 30%;
  text-align: center; }
  @media screen and (min-width: 868px) {
    .technology .item {
      width: auto;
      padding: 0 em(10);
      margin-bottom: 20px; } }
  .technology .item .image {
    width: 72px;
    height: 52px;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    transition: all 0.5s; }
    .technology .item .image:hover {
      opacity: .6; }
  .technology .item .text {
    padding: 10px em(22) 10px em(22);
    line-height: 1.2;
    font-size: em(14);
    font-weight: 800; }
    @media screen and (min-width: 868px) {
      .technology .item .text {
        font-size: em(16); } }

.start-featured {
  padding: 30px 0; }
  @media screen and (min-width: 868px) {
    .start-featured {
      padding: 0; } }
  .start-featured .item {
    background-image: url("../images/fpo/thumb-business-hackers.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 198px;
    background-size: 100%;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    transition: all 0.5s;
    cursor: pointer; }
    @media screen and (min-width: 868px) {
      .start-featured .item {
        min-height: 320px; } }
    .start-featured .item:hover {
      background-size: 105%; }
      .start-featured .item:hover .text span {
        background-color: white;
        color: #010101;
        border-bottom: 4px solid rgba(1, 1, 1, 0.2);
        padding-bottom: 10px; }
      .start-featured .item:hover:before {
        background-color: rgba(1, 1, 1, 0.8); }
    .start-featured .item:before {
      content: "";
      position: absolute;
      background-color: rgba(1, 1, 1, 0.6);
      top: 0;
      width: 100%;
      height: 100%;
      display: block; }
    .start-featured .item .text {
      display: inline-block;
      position: relative;
      z-index: 2; }
      .start-featured .item .text span {
        color: white;
        font-family: "league_spartanregular";
        font-size: em(20);
        border: 4px solid white;
        padding: 5px em(15);
        display: inline-block;
        transition: all 0.2s; }
        @media screen and (min-width: 868px) {
          .start-featured .item .text span {
            font-size: em(36);
            padding: 10px em(15); } }
