@font-face {
  font-family: 'league_spartanregular';
  src: url("../fonts/leaguespartan-bold-webfont.eot");
  src: url("../fonts/leaguespartan-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguespartan-bold-webfont.woff2") format("woff2"), url("../fonts/leaguespartan-bold-webfont.woff") format("woff"), url("../fonts/leaguespartan-bold-webfont.ttf") format("truetype"), url("../fonts/leaguespartan-bold-webfont.svg#league_spartanregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (min-width: 868px) {
  .testimonials {
    padding: 70px 0; } }

.testimonials .bx-controls-direction {
  visibility: hidden; }
  @media screen and (min-width: 868px) {
    .testimonials .bx-controls-direction {
      visibility: visible; } }

.testimonials .title {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-family: "league_spartanregular";
  font-size: em(16); }
  @media screen and (min-width: 868px) {
    .testimonials .title {
      font-size: em(32); } }

.testimonials blockquote {
  border: none;
  text-align: center;
  font-size: em(14);
  padding: 0 em(40);
  line-height: 1.3; }
  @media screen and (min-width: 868px) {
    .testimonials blockquote {
      font-size: em(21);
      padding-top: 20px; } }
  @media screen and (min-width: 868px) {
    .testimonials blockquote span {
      padding: 0 em(80);
      display: inline-block;
      padding-bottom: 25px; } }
  .testimonials blockquote span:before {
    width: 29px;
    height: 24px;
    padding-right: em(10);
    content: "";
    display: inline-block;
    background-image: url(../images/misc/quotes.svg);
    background-repeat: no-repeat; }
    @media screen and (min-width: 868px) {
      .testimonials blockquote span:before {
        width: 69px;
        height: 44px;
        background-size: contain;
        position: absolute;
        left: 9%;
        top: 1%; } }
    @media screen and (min-width: 1400px) {
      .testimonials blockquote span:before {
        left: 8%; } }
  .testimonials blockquote span:after {
    width: 29px;
    height: 24px;
    padding-right: em(0);
    content: "";
    display: inline-block;
    background-image: url(../images/misc/quotes.svg);
    background-repeat: no-repeat;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
    @media screen and (min-width: 868px) {
      .testimonials blockquote span:after {
        width: 69px;
        height: 44px;
        background-size: contain;
        position: absolute;
        right: 9%;
        top: 16%; } }
    @media screen and (min-width: 1400px) {
      .testimonials blockquote span:after {
        right: 8%; } }

.testimonials .name {
  padding: 5px 0; }
  @media screen and (min-width: 868px) {
    .testimonials .name {
      font-size: 16px;
      padding: 0; } }

@media screen and (min-width: 868px) {
  .testimonials .bx-pager {
    bottom: -40px !important; } }

.testimonials .company {
  font-weight: 800;
  color: #010101;
  text-decoration: none;
  transition: all 0.5s; }
  @media screen and (min-width: 868px) {
    .testimonials .company {
      font-size: 16px; } }
  .testimonials .company:hover {
    color: #3CD52E; }

.testimonials .bx-controls-direction {
  display: block; }
