@font-face {
  font-family: 'league_spartanregular';
  src: url("../fonts/leaguespartan-bold-webfont.eot");
  src: url("../fonts/leaguespartan-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguespartan-bold-webfont.woff2") format("woff2"), url("../fonts/leaguespartan-bold-webfont.woff") format("woff"), url("../fonts/leaguespartan-bold-webfont.ttf") format("truetype"), url("../fonts/leaguespartan-bold-webfont.svg#league_spartanregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (min-width: 868px) {
  .works-detail {
    margin-bottom: 120px; } }

@media screen and (min-width: 868px) {
  .works-detail .wrapper-works-interna {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0; } }

.works-detail .title {
  text-align: left;
  padding: 20px em(10); }
  @media screen and (min-width: 868px) {
    .works-detail .title {
      font-size: em(36);
      padding-right: 0;
      padding-left: 0; } }

.works-detail .text {
  font-size: em(14);
  padding-bottom: 10px;
  padding-right: em(10);
  padding-left: em(10);
  line-height: 1.3; }
  @media screen and (min-width: 868px) {
    .works-detail .text {
      font-size: em(18);
      padding-right: 0;
      padding-left: 0; } }

.works-detail .wrapp-center {
  position: relative;
  bottom: 50px; }
  @media screen and (min-width: 868px) {
    .works-detail .wrapp-center {
      bottom: 0; } }

.works-detail .button {
  padding: 5px em(20);
  text-decoration: none; }

@media screen and (min-width: 868px) {
  .works-detail .works-slide li {
    margin-bottom: 50px;
    display: inline-block; } }

.works-detail .works-slide img {
  width: 100%; }

.works-detail .bx-viewport {
  left: 0 !important; }

.works-detail .bx-controls {
  position: relative;
  display: inline-block;
  width: 100%; }

.works-detail .bx-controls-direction {
  display: inline-block;
  width: 100%; }
  .works-detail .bx-controls-direction a {
    top: 35px !important;
    bottom: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    text-indent: 0 !important;
    font-size: em(16);
    background-image: none;
    text-decoration: none;
    font-size: em(12) !important;
    height: auto !important;
    color: #010101; }
    @media screen and (min-width: 868px) {
      .works-detail .bx-controls-direction a {
        top: 90px !important;
        font-size: em(16) !important;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 4px; } }
  .works-detail .bx-controls-direction .bx-prev {
    width: 50px;
    margin-left: 20px; }
    @media screen and (min-width: 868px) {
      .works-detail .bx-controls-direction .bx-prev {
        width: auto; } }
    .works-detail .bx-controls-direction .bx-prev:before {
      content: '';
      background-image: url("../images/misc/see-more-icon-black.svg");
      width: 10px;
      height: 9px;
      background-size: cover;
      float: left;
      position: relative;
      top: 2px;
      margin-right: em(10);
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
      @media screen and (min-width: 868px) {
        .works-detail .bx-controls-direction .bx-prev:before {
          top: 5px; } }
  .works-detail .bx-controls-direction .bx-next {
    margin-right: 20px; }
    @media screen and (min-width: 868px) {
      .works-detail .bx-controls-direction .bx-next {
        width: auto;
        text-align: center;
        margin-right: 10px !important; } }
    .works-detail .bx-controls-direction .bx-next:after {
      content: '';
      background-image: url("../images/misc/see-more-icon-black.svg");
      width: 10px;
      height: 9px;
      background-size: cover;
      float: left;
      position: absolute;
      top: 2px;
      margin-left: em(10); }
      @media screen and (min-width: 868px) {
        .works-detail .bx-controls-direction .bx-next:after {
          top: 5px; } }
  .works-detail .bx-controls-direction .bx-next, .works-detail .bx-controls-direction .bx-prev {
    transition: all 0.5s; }
    @media screen and (min-width: 868px) {
      .works-detail .bx-controls-direction .bx-next, .works-detail .bx-controls-direction .bx-prev {
        font-size: em(19); } }
    .works-detail .bx-controls-direction .bx-next:hover, .works-detail .bx-controls-direction .bx-prev:hover {
      opacity: .4; }

.works-detail .bx-default-pager {
  display: none; }
